{% extends "base.html" %}
{% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Subject</th>
        <th>Marks</th>
      </tr>
    </thead>
    <tbody>
      {% for i in dyna %}     
      <tr class="danger">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.marks}}</td>
        <td><a href="{% url 'read' i.id %}">Read</a></td>   <!-- /app/read/1 -->
        <td><a href="{% url 'update' i.id %}">update</a></td>   <!--  /app/update/1 -->
        <td><a href="{% url 'delete' i.id %}">delete</a></td> <!-- /app/read/1 -->
      </tr>
      {% endfor %}

      {% comment %} {% for i in dynamic %}     
      <tr class="danger">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.marks}}</td>
        <td><a href="{% url 'read' i.id %}">Read</a></td>   <!-- /app/read/1 -->
        <td><a href="{% url 'update' i.id %}">update</a></td>   <!--  /app/update/1 -->
        <td><a href="{% url 'delete' i.id %}">delete</a></td> <!-- /app/read/1 -->
      </tr>
      {% endfor %} {% endcomment %}


    </tbody>
  </table>
</div>
{% endblock %}


